.ReposPage {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ReposPage__content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.ReposPage__content--selected {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.RepoItem {
  display: block;
  padding: 8px;
}
