.RepoSettingsModal__body {
  padding: 0;
}

.RepoSettingsModal__step-bar {
  border-bottom: 1px solid #efefef;
  display: flex;
}
.RepoSettingsModal__step-bar .pagination {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.RepoSettingsModal__step-bar .page-link {
  border: none;
  border-radius: 0;
}

.RepoSettingsModal__body-content {
  padding: 8px;
}

.RepoSettingsModal__connection-test-bar {
  display: flex;
  flex-direction: column;
}

.RepoSettingsModal__connection-test-bar > * {
  margin-left: auto;
  margin-right: auto;
}

.RepoSettingsModal__connection-test--spinner {
  margin-right: 8px;
}

.RepoSettingsModal__connection-test--error {
  color: crimson;
  font-size: 12px;
  padding: 16px;
}

.RepoSettingsModal__connection-test--success {
  color: darkgreen;
  font-size: 12px;
  padding: 16px;
}
