.RepoPage__content {
  padding: 8px;
}

.RepoPage__content {
  padding: 8px;
}

.RepoPage__download-content {
  margin-top: 8px;
}

.RepoPage__download-content-progress-indicator {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.RepoPage__download-content-progress-indicator-spinner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 24px;
}
