.TimeSeriesChart__line {
  fill: none;
  stroke-width: 2px;
}

.TimeSeriesChart__axis {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 12px;
  fill: #303138;
}

.TimeSeriesChart__axis-label {
  font-size: 13px;
}

.TimeSeriesChart__axis path,
.TimeSeriesChart__axis line {
  fill: none;
  stroke: #cccccc;
  shape-rendering: crispEdges;
}

.TimeSeriesChart__vertical-guide {
  stroke: #303138;
  stroke-width: 0.5;
}

.TimeSeriesChart__legend-item {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 12px;
  fill: #303138;
  font-weight: normal;
  cursor: pointer;
}

.TimeSeriesChart__legend-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 14px;
  fill: #303138;
}

.TimeSeriesChart__legend-background {
  fill-opacity: 0.9;
  fill: #fefefe;
  stroke: #dedede;
  stroke-width: 0.5px;
}
