.TeamGraph svg {
  border: 1px solid #efefef;
}

.TeamGraph__node {
  stroke-width: 1.5px;
  stroke: #ffffff;
}

.TeamGraph__node.selected {
  fill-opacity: 1;
  stroke: #303138;
}

.TeamGraph__node.centered {
  fill-opacity: 1;
  stroke: #303138;
}

.TeamGraph__link {
  stroke: #999;
  stroke-opacity: 0.6;
}

.TeamGraph__legend-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 13px;
  fill: #303138;
  font-weight: normal;
  cursor: pointer;
}
