.UserHeaderPanel {
  position: relative;
}
.UserHeaderPanel h4 a {
  color: grey;
}

.UserHeaderPanel__contact-info {
  position: absolute;
  right: 14px;
  top: 14px;
}

.DateIntervalPicker__popover-content ul {
  padding-left: 16px;
}
