.Panel {
  background-color: white;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 1em;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.Panel h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  padding-top: 0.5em;
}
.Panel h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 33px;
  font-weight: 200;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.Panel.width-one-third {
  width: 33%;
}

.Panel.width-two-thirds {
  min-width: 722px;
  width: 722px;
}

.Panel.width-half {
  width: 50%;
}

.Panel.width-full {
  min-width: 1090px;
  width: 1090px;
}

.Panel.width-flex {
  width: 100%;
}

.Panel.width-one-fourth {
  min-width: 272px;
  width: 272px;
}

.Panel.width-three-fourths {
  min-width: 804px;
  width: 804px;
}
