.TopBarButton {
  border: 1px solid #404148;
  background-color: #555663;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  align-items: center;
  height: 40px;
  min-width: 120px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  user-select: none;
}

.TopBarButton__button-content--title {
  font-weight: normal;
}
.TopBarButton__button-content--subtitle {
  font-weight: bold;
}

.TopBarButton:hover {
  background-color: #404148;
}
